<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ogani.mapper.MemberMapper">
	
    <update id="updateLastLogin" parameterType="com.ogani.domain.CustomerDTO">
      UPDATE customer
      SET cust_lastlogin = SYSDATE
      WHERE cust_id = #{cust_id}
      <selectKey resultType="date" keyProperty="cust_lastlogin" order="AFTER">
        SELECT SYSDATE FROM DUAL
      </selectKey>
    </update>
  
	<select id="selectById" resultType="com.ogani.domain.CustomerDTO">
		SELECT * 
		FROM customer 
		WHERE cust_id = #{cust_id}
	</select>

	<select id="selectByNo" resultType="com.ogani.domain.CustomerDTO">
		SELECT * 
		FROM customer 
		WHERE cust_no = #{cust_no}
	</select>
	
    <insert id="insertMember">
      INSERT INTO customer(cust_no, cust_id, cust_password, cust_phone, cust_email)
      VALUES(seq_cust_no.NEXTVAL, #{cust_id}, #{cust_password}, #{cust_phone}, #{cust_email})
    </insert>

    <insert id="updateMember">
      UPDATE customer
      SET cust_email = #{cust_email}, 
      	  cust_phone = #{cust_phone}, 
      	  cust_mailing = #{cust_mailing}, 
          <trim prefixOverrides="," suffixOverrides=",">
            <if test="cust_password != ''">
          	  cust_password = #{cust_password}, 
            </if>
            <if test="cust_name != ''">
              cust_name = #{cust_name}, 
            </if>
            <if test="cust_address != ''">
          	  cust_address = #{cust_address}, 
            </if>
          </trim>
      WHERE cust_no = #{cust_no}
    </insert>
  
</mapper>