<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ogani.mapper.ProductMapper">

  <select id="getOldImages" resultType="com.ogani.domain.ProductImageDTO">
    SELECT *
    FROM product_image
    WHERE prod_image_url = TO_CHAR(SYSDATE - 1, 'yyyy/mm/dd') || '/product'
  </select>    
    
  <insert id="insertCategory" parameterType="com.ogani.domain.ProductCategoryDTO">
    INSERT INTO product_category(cate_no, cate_name<if test="cate_parentno != 0">, cate_parentno</if>)
    VALUES(seq_product_category.NEXTVAL, #{cate_name}<if test="cate_parentno != 0">, #{cate_parento}</if>)
  </insert>
  
  <insert id="insertProduct" parameterType="com.ogani.domain.ProductDTO">
    INSERT INTO product(prod_no, cate_no, prod_name, prod_price, prod_content, prod_regdate, prod_stock, prod_display)
    VALUES(seq_product.NEXTVAL, #{cate_no}, #{prod_name}, #{prod_price}, #{prod_content}, SYSDATE, #{prod_stock}, #{prod_display})
     <selectKey resultType="int" keyProperty="prod_no" order="AFTER">
        SELECT seq_product.CURRVAL FROM DUAL
     </selectKey>
  </insert>

  <select id="selectProductListByCategory" resultType="com.ogani.domain.ProductDTO">
    SELECT *
    FROM product
    WHERE cate_no = #{cate_no}
  </select>

  <insert id="insertImage" parameterType="com.ogani.domain.ProductImageDTO">
    INSERT INTO product_image
    VALUES(#{prod_image_uuid}, #{prod_no}, #{prod_image_url}, #{prod_image_name})
  </insert>

  <select id="selectAllCategory" resultType="com.ogani.domain.ProductCategoryDTO">
    SELECT *
    FROM product_category
  </select>

  <select id="selectProductList" parameterType="com.ogani.domain.paging.ProductPageDTO" resultType="com.ogani.domain.ProductDTO">
  <![CDATA[
    SELECT *
    FROM (SELECT ROWNUM RNUM, PROD.*
          FROM (SELECT *
                FROM product
                WHERE prod_no > 0
                  ]]>
                    <include refid="criteria"/>
                  <![CDATA[
                ORDER BY prod_no DESC) PROD)
    WHERE RNUM BETWEEN #{listStart} AND #{listEnd}
  ]]>
  </select>
  
  <select id="selectProductListCount" resultType="int">
  <![CDATA[
    SELECT COUNT(*)
    FROM product
    WHERE prod_no > 0
  ]]>
	<include refid="criteria"/>
  </select>

  <sql id="criteria">
 	<if test="stock != null and stock != ''">
	  <![CDATA[AND prod_stock >= #{stock}]]>
    </if>
    <if test="display != null and display != ''">
      AND prod_display = #{display}
    </if>
    <if test="category != null and category != ''">
      AND cate_no = #{category}
    </if>
    <if test="keyword != null and keyword != ''">
      AND prod_name LIKE '%'||#{keyword}||'%'
    </if>
  </sql>

  <select id="selectProductImage" resultType="com.ogani.domain.ProductImageDTO">
  	SELECT *
  	FROM product_image
  	WHERE prod_no = #{prod_no}
  </select>
  
  <select id="selectProduct" resultType="com.ogani.domain.ProductDTO">
  	SELECT *
  	FROM product
  	WHERE prod_no = #{prod_no}
  </select>
  
  <update id="updateProduct" parameterType="com.ogani.domain.ProductDTO">
	UPDATE product
	SET cate_no = #{cate_no}, prod_name = #{prod_name}, prod_price = #{prod_price}, 
		prod_content = #{prod_content}, prod_stock = #{prod_stock}, prod_display = #{prod_display}
	WHERE prod_no = #{prod_no}
  </update>

  <delete id="deleteImage">
  	DELETE FROM product_image
  	WHERE prod_no = #{prod_no}
  </delete>

  <delete id="deleteProduct">
  	DELETE FROM product
  	WHERE prod_no = #{prod_no}
  </delete>
  
</mapper>