/* 상품 조회 페이지 */
.product td,
.product th {
	min-width: 100px;
	text-align: center;
}

.product td a {
    display: block;
    width: 100%;
    height: 100%;
    color: #666;
    text-decoration: none;
}

.product .long-width {
    min-width: 250px;
    text-align: left;    
}

@media (max-width: 576px) {
  .product .btn:last-child  {
    margin-bottom: 15px;
  }
 
  .product h6 {
    margin-bottom: 20px;
  }
  
  .product .container-fluid {
    padding: 0 3px !important;
  }
}

.product_pagination .paging-active {
	background-color: #eee;
}

.product_pagination li:nth-child(2) {
	border-left: 1px solid #ccc;
}
/* 상품 등록 페이지 */

.productRegister input[type=number]::-webkit-inner-spin-button, 
.productRegister input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0;
}

.productRegister input[type=radio] {
  transform: scale(1.5);	
}

.productRegister .bigImage img {
  max-width: 90vw;
  max-height: 90vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.productRegister .bigImageWrapper {
  position: fixed;
  display: none;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}